<h1><%= @room.name.capitalize %></h1>

<div id="messages" class="container" data-room-id="<%= @room.id %>">
  <%= "No message in this room" if @room.messages.empty? %>
  <%= render @room.messages %>
</div>

<div class="container">
  <hr>
  <%= simple_form_for [ @room, @new_message ], remote: true do |f| %>
    <%= f.input :content, label: 'message', placeholder: "say something nice" %>
    <%= f.submit "Send", class: "btn btn-success" %>
  <% end %>
</div>

<hr>
<%= link_to 'All rooms', rooms_path %>
